<template>
  <div class="blue-chunk">
    <p>'A blue chunk does not need props!'</p>
    <GreenChunk />
  </div>
</template>

<script>
import GreenChunk from './GreenChunk.vue';

export default {
  name: 'BlueChunk',
  components: {
    GreenChunk
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .blue-chunk {
    width: 360px;
    height: 360px;
    padding: 1em;
    background-color: blue;
  }
</style>
