<template>
  <div :class="classes">
    <p>{{ this.title }}</p>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Chunkie',
  props: {
    color: {
      type: String,
      default: 'white'
    },
    title: {
      type: String,
      default: 'A wild chunk!'
    },
    inside: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classes() {
      return `chunkie chunkie-${this.color}${ this.inside ? ' chunkie-medium' : '' }`;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .chunkie {
    width: 360px;
    height: 360px;
    padding: 1em;
  }

  .chunkie.chunkie-medium {
    width: 240px;
    height: 240px;
  }

  .chunkie.chunkie-white {
    background-color: white;
  }

  .chunkie.chunkie-red {
    background-color: red;
  }

  .chunkie.chunkie-green {
    background-color: green;
  }

  .chunkie.chunkie-yellow {
    background-color: yellow;
  }
</style>
