<template>
  <div class="chunk-master">
    <Chunkie title="This is the original chunk!" />
    <Chunkie color="red" title="A red chunk!">
      <OrangeChunk />
    </Chunkie>
    <BlueChunk />
  </div>
</template>

<script>
import Chunkie from './Chunkie.vue';

const BlueChunk = () => import(/* webpackChunkName: "i-am-blue" */'./BlueChunk.vue');
const OrangeChunk = () => import(/* webpackChunkName: "laranja" */'./OrangeChunk.vue');

export default {
  name: 'ChunkMaster',
  components: {
    Chunkie,
    BlueChunk,
    OrangeChunk
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
