<template>
  <div>
    <Chunkie color="green" title="Do you know what else is green? 🌿" inside>
      <YellowChunk />
    </Chunkie>
  </div>
</template>

<script>
import Chunkie from './Chunkie.vue';
import YellowChunk from './YellowChunk.vue';

export default {
  name: 'GreenChunk',
  components: {
    Chunkie,
    YellowChunk
  }
}
</script>