<template>
  <div class="orange-chunk">
    <p>¡Manzana china!</p>
    <YellowChunk title="Same as 🍌🍌!" />
  </div>
</template>

<script>
const YellowChunk = () => import(/* webpackChunkName: "gold-is-yellow" */'./YellowChunk.vue');

export default {
  name: 'BlueChunk',
  components: {
    YellowChunk
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .orange-chunk {
    width: 240px;
    height: 240px;
    padding: 1em;
    background-color: orange;
    color: black;
  }
</style>
