<template>
  <div class="yellow-chunk">
    <Chunkie color="yellow" :title="title" />
  </div>
</template>

<script>
import Chunkie from './Chunkie.vue';

export default {
  name: 'YellowChunk',
  components: {
    Chunkie
  },
  props: {
    title: {
      type: String,
      default: 'I do include Chunkie!'
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .chunkie {
    width: 120px;
    height: 120px;
  }
</style>
