<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <ChunkMaster />
  </div>
</template>

<script>
import ChunkMaster from './components/ChunkMaster.vue'

export default {
  name: 'App',
  components: {
    ChunkMaster
  }
}
</script>

<style>
body {
  background-color: black;
  color: #aaaaaa;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
</style>
